node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
**/.env
pnpm-lock.yaml
package-lock.json
.vscode/

# Docker FS volume mappings (just for testing)
db/
gitea/
homarr/
media/
nextcloud/
nhost-test/
onlyoffice/
send/
uptime-kuma/
custom-templates/
certs/
navidrome/
/docker-compose.yml
amat-strapi

# Test files (docker compose e.g.)
*.test.*
*-test