services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:release
    restart: unless-stopped
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    environment:
      - NODE_ENV=production
      - DB_USERNAME=${DB_USERNAME:?immich server db username not set}
      - DB_PASSWORD=${DB_PASSWORD:?immich server db password not set}
      - DB_DATABASE_NAME=${DB_DATABASE_NAME:?server db name not set}
      - IMMICH_TELEMETRY_INCLUDE=all
    depends_on:
      - immich-redis
      - immich-database
    ports:
      - 2283:2283
      - 8081:8081
      - 8082:8082
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - immich

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    restart: unless-stopped
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - ${ML_CACHE_LOCATION:-/var/immich/ml-cache}:/cache
    environment:
      - NODE_ENV=production
    expose:
      - 3003
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - immich

  immich-redis:
    image: redis:6.2
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    mem_limit: 2G
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - immich

  immich-database:
    image: registry.hub.docker.com/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      PG_DATA: /var/lib/postgresql/data
      POSTGRES_INITDB_ARGS: "--data-checksums"
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready --dbname='${DB_DATABASE_NAME}' --username='${DB_USERNAME}' || exit 1; Chksum="$$(psql --dbname='${DB_DATABASE_NAME}' --username='${DB_USERNAME}' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
      interval: 5m
      start_interval: 30s
      start_period: 5m
    command:
      [
        "postgres",
        "-c",
        "shared_preload_libraries=vectors.so",
        "-c",
        'search_path="$$user", public, vectors',
        "-c",
        "logging_collector=on",
        "-c",
        "max_wal_size=2GB",
        "-c",
        "shared_buffers=512MB",
        "-c",
        "wal_compression=on",
      ]
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - immich

networks:
  immich:
