[Unit]
Description=Update DDNS records for Cloudflare
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/ddns/cloudflare.env
ExecStart=/usr/local/sbin/ddns-cloudflare-update.sh

[Install]
WantedBy=multi-user.target