include:
  - formbricks/docker-compose.yml
  - immich/docker-compose.yml
  - mailserver/docker-compose.yml
  - monitor/docker-compose.yml
  - navidrome/docker-compose.yml
  - nextcloud/docker-compose.yml
  - readeck/docker-compose.yml
  - tandoor/docker-compose.yml
  - umami/docker-compose.yml
  - vaultwarden/docker-compose.yml

services:
  adminer:
    image: adminer
    ports:
      - "127.0.0.1:${PORT_ADMINER}:8080"
    networks:
      - formbricks
      - immich
      - nextcloud
      - readeck
      - tandoor
      - umami

  watchtower:
    image: containrrr/watchtower
    restart: unless-stopped
    environment:
      WATCHTOWER_LABEL_ENABLE: true # only update those with image (excludes amp and customs)
      WATCHTOWER_CLEANUP: true # clean old image after update
      WATCHTOWER_NOTIFICATION_REPORT: true
      WATCHTOWER_SCHEDULE: "0 0 5 * * *" # update images everyday at 5:00
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
