[Unit]
Description=Run DDNS update every 10 minutes with random delay
Requires=ddns-update.service

[Timer]
OnBootSec=2m
OnUnitInactiveSec=15m
RandomizedDelaySec=3m
Persistent=true

[Install]
WantedBy=timers.target