[Unit]
Description=Run DDNS update every 10 minutes
Requires=ddns-update.service

[Timer]
Unit=ddns-update.service
OnUnitInactiveSec=10m
AccuracySec=1s

[Install]
WantedBy=timers.target